@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Waiting+for+the+Sunrise&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sue+Ellen+Francisco&display=swap");
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

:root {
  --black-gradient: linear-gradient(
    144.39deg,
    #ffffff -278.56%,
    #6d6d6d -78.47%,
    #11101d 91.61%
  );
  --card-shadow: 0px 20px 100px -10px rgba(66, 71, 91, 0.1);
}

* {
  scroll-behavior: smooth;
}

.text-gradient {
  background: radial-gradient(
    64.18% 64.18% at 71.16% 35.69%,
    #def9fa 0.89%,
    #bef3f5 17.23%,
    #9dedf0 42.04%,
    #7de7eb 55.12%,
    #5ce1e6 71.54%,
    #33bbcf 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  /* text-fill-color: transparent; */
}

.bg-blue-gradient {
  background: linear-gradient(
    157.81deg,
    #def9fa -43.27%,
    #bef3f5 -21.24%,
    #9dedf0 12.19%,
    #7de7eb 29.82%,
    #5ce1e6 51.94%,
    #33bbcf 90.29%
  );
}

.bg-black-gradient {
  background: linear-gradient(
    144.39deg,
    #ffffff -278.56%,
    #6d6d6d -78.47%,
    #11101d 91.61%
  );
}

.bg-black-gradient-2 {
  background: linear-gradient(
    -168.39deg,
    #ffffff -278.56%,
    #6d6d6d -78.47%,
    #11101d 91.61%
  );
}

.bg-gray-gradient {
  background: linear-gradient(
    153.47deg,
    rgba(255, 255, 255, 0) -341.94%,
    #14101d 95.11%
  );
}

.bg-discount-gradient {
  background: linear-gradient(125.17deg, #272727 0%, #11101d 100%);
}

.box-shadow {
  box-shadow: 0px 20px 100px -10px rgba(66, 71, 91, 0.1);
}

.sidebar {
  -webkit-animation: slide-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes slide-top {
  0% {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes slide-top {
  0% {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@-webkit-keyframes slide-left {
  0% {
    -webkit-transform: translateX(200px);
    transform: translateX(200px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

@keyframes slide-left {
  0% {
    -webkit-transform: translateX(200px);
    transform: translateX(200px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

.feature-card:hover {
  background: var(--black-gradient);
  box-shadow: var(--card-shadow);
}

.feedback-container .feedback-card:last-child {
  margin-right: 0px;
}

.feedback-card {
  background: transparent;
}

.feedback-card:hover {
  background: var(--black-gradient);
}

.blue__gradient {
  background: linear-gradient(180deg, rgba(188, 165, 255, 0) 0%, #214d76 100%);
  filter: blur(123px);
}

.pink__gradient {
  background: linear-gradient(90deg, #f4c4f3 0%, #fc67fa 100%);
  filter: blur(900px);
}

.white__gradient {
  background: rgba(255, 255, 255, 0.6);
  filter: blur(750px);
}

.menu {
  border: solid 1px transparent;
}

.menu:hover {
  border: dashed 1px black;
  border-radius: 45%;
}

.menu:active {
  border: solid 1px black;
  border-radius: 45%;
}

@keyframes moveStick {
  0% {
    -webkit-transform: rotate(5deg);
    transform: rotate(5deg);
  }

  50% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(5deg);
    transform: rotate(5deg);
  }
}

.rotate5deg {
  animation-name: moveStick;
  animation-duration: 0.5s;
  animation-timing-function: cubic-bezier(0.4, 0.45, 0.45, 0.4);
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;
}

.rotateIconCSS {
  animation-name: moveIconCSS;
  animation-duration: 0.5s;
  animation-timing-function: cubic-bezier(0.4, 0.45, 0.45, 0.4);
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;
}

@keyframes moveIconCSS {
  0% {
    -webkit-transform: rotate(20deg);
    transform: rotate(20deg);
  }

  50% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(20deg);
    transform: rotate(20deg);
  }
}

.rotateIconTW {
  animation-name: moveIconTW;
  animation-duration: 0.5s;
  animation-timing-function: cubic-bezier(0.4, 0.45, 0.45, 0.4);
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;
}

@keyframes moveIconTW {
  0% {
    -webkit-transform: rotate(10deg);
    transform: rotate(10deg);
  }

  50% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(10deg);
    transform: rotate(10deg);
  }
}

.rotateIconJS {
  animation-name: moveIconJS;
  animation-duration: 0.5s;
  animation-timing-function: cubic-bezier(0.4, 0.45, 0.45, 0.4);
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;
}

@keyframes moveIconJS {
  0% {
    -webkit-transform: rotate(40deg);
    transform: rotate(40deg);
  }

  50% {
    -webkit-transform: rotate(60deg);
    transform: rotate(60deg);
  }

  100% {
    -webkit-transform: rotate(40deg);
    transform: rotate(40deg);
  }
}

.rotateIconTS {
  animation-name: moveIconTS;
  animation-duration: 0.5s;
  animation-timing-function: cubic-bezier(0.4, 0.45, 0.45, 0.4);
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;
}

@keyframes moveIconTS {
  0% {
    -webkit-transform: rotate(-35deg);
    transform: rotate(-35deg);
  }

  50% {
    -webkit-transform: rotate(-15deg);
    transform: rotate(-15deg);
  }

  100% {
    -webkit-transform: rotate(-35deg);
    transform: rotate(-35deg);
  }
}

.rotateIconHTML {
  animation-name: moveIconHTML;
  animation-duration: 0.5s;
  animation-timing-function: cubic-bezier(0.4, 0.45, 0.45, 0.4);
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;
}

@keyframes moveIconHTML {
  0% {
    -webkit-transform: rotate(-10deg);
    transform: rotate(-10deg);
  }

  50% {
    -webkit-transform: rotate(10deg);
    transform: rotate(10deg);
  }

  100% {
    -webkit-transform: rotate(-10deg);
    transform: rotate(-10deg);
  }
}
