@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Waiting+for+the+Sunrise&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sue+Ellen+Francisco&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Londrina+Outline&family=Waiting+for+the+Sunrise&display=swap");
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

:root {
  --black-gradient: linear-gradient(
    144.39deg,
    #ffffff -278.56%,
    #6d6d6d -78.47%,
    #11101d 91.61%
  );
  --card-shadow: 0px 20px 100px -10px rgba(66, 71, 91, 0.1);
}

* {
  scroll-behavior: smooth;
  box-sizing: border-box;
}

.bg-black-gradient {
  background: linear-gradient(
    144.39deg,
    #ffffff -278.56%,
    #6d6d6d -78.47%,
    #11101d 91.61%
  );
}

.bg-black-gradient-2 {
  background: linear-gradient(
    -168.39deg,
    #ffffff -278.56%,
    #6d6d6d -78.47%,
    #11101d 91.61%
  );
}

.link-button {
  background-color: #000000;
}

.link-button:hover {
  background-color: #424242;
}

.colorful-gradient {
  background: rgb(131, 58, 180);
  background: linear-gradient(
    90deg,
    rgba(131, 58, 180, 1) 0%,
    rgba(253, 29, 29, 1) 50%,
    rgba(252, 176, 69, 1) 100%
  );
}

.bg-gray-gradient {
  background: linear-gradient(
    153.47deg,
    rgba(255, 255, 255, 0) -341.94%,
    #14101d 95.11%
  );
}

.bg-discount-gradient {
  background: linear-gradient(125.17deg, #272727 0%, #11101d 100%);
}

.box-shadow {
  box-shadow: 0px 20px 100px -10px rgba(66, 71, 91, 0.1);
}

@-webkit-keyframes slide-top {
  0% {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes slide-top {
  0% {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@-webkit-keyframes slide-left {
  0% {
    -webkit-transform: translateX(200px);
    transform: translateX(200px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

@keyframes slide-left {
  0% {
    -webkit-transform: translateX(200px);
    transform: translateX(200px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

.feature-card:hover {
  background: var(--black-gradient);
  box-shadow: var(--card-shadow);
}

.feedback-container .feedback-card:last-child {
  margin-right: 0px;
}

.feedback-card {
  background: transparent;
}

.feedback-card:hover {
  background: var(--black-gradient);
}

.blue__gradient {
  background: linear-gradient(180deg, rgba(188, 165, 255, 0) 0%, #214d76 100%);
  filter: blur(123px);
}

.pink__gradient {
  background: linear-gradient(90deg, #f4c4f3 0%, #fc67fa 100%);
  filter: blur(900px);
}

.white__gradient {
  background: rgba(255, 255, 255, 0.6);
  filter: blur(750px);
}

.menu {
  border: solid 1px transparent;
}

.menu:hover {
  border: dashed 1px black;
  border-radius: 45%;
}

.menu:active {
  border: solid 1px black;
  border-radius: 45%;
}

@keyframes moveStick {
  0% {
    -webkit-transform: rotate(5deg);
    transform: rotate(5deg);
  }

  50% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(5deg);
    transform: rotate(5deg);
  }
}

.rotate5deg {
  animation-name: moveStick;
  animation-duration: 0.5s;
  animation-timing-function: cubic-bezier(0.4, 0.45, 0.45, 0.4);
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;
}

.rotateIconCSS {
  animation-name: moveIconCSS;
  animation-duration: 0.5s;
  animation-timing-function: cubic-bezier(0.4, 0.45, 0.45, 0.4);
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;
}

@keyframes moveIconCSS {
  0% {
    -webkit-transform: rotate(20deg);
    transform: rotate(20deg);
  }

  50% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(20deg);
    transform: rotate(20deg);
  }
}

.rotateIconTW {
  animation-name: moveIconTW;
  animation-duration: 0.5s;
  animation-timing-function: cubic-bezier(0.4, 0.45, 0.45, 0.4);
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;
}

@keyframes moveIconTW {
  0% {
    -webkit-transform: rotate(10deg);
    transform: rotate(10deg);
  }

  50% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(10deg);
    transform: rotate(10deg);
  }
}

.rotateIconJS {
  animation-name: moveIconJS;
  animation-duration: 0.5s;
  animation-timing-function: cubic-bezier(0.4, 0.45, 0.45, 0.4);
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;
}

@keyframes moveIconJS {
  0% {
    -webkit-transform: rotate(40deg);
    transform: rotate(40deg);
  }

  50% {
    -webkit-transform: rotate(60deg);
    transform: rotate(60deg);
  }

  100% {
    -webkit-transform: rotate(40deg);
    transform: rotate(40deg);
  }
}

.rotateIconTS {
  animation-name: moveIconTS;
  animation-duration: 0.5s;
  animation-timing-function: cubic-bezier(0.4, 0.45, 0.45, 0.4);
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;
}

@keyframes moveIconTS {
  0% {
    -webkit-transform: rotate(-35deg);
    transform: rotate(-35deg);
  }

  50% {
    -webkit-transform: rotate(-15deg);
    transform: rotate(-15deg);
  }

  100% {
    -webkit-transform: rotate(-35deg);
    transform: rotate(-35deg);
  }
}

.rotateIconHTML {
  animation-name: moveIconHTML;
  animation-duration: 0.5s;
  animation-timing-function: cubic-bezier(0.4, 0.45, 0.45, 0.4);
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;
}

@keyframes moveIconHTML {
  0% {
    -webkit-transform: rotate(-10deg);
    transform: rotate(-10deg);
  }

  50% {
    -webkit-transform: rotate(10deg);
    transform: rotate(10deg);
  }

  100% {
    -webkit-transform: rotate(-10deg);
    transform: rotate(-10deg);
  }
}

.crow-bg-top {
  background-image: url("./assets/silly-crow-up.png");
  background-size: contain;
  background-position: top;
  background-repeat: no-repeat;
  width: 300px;
  height: 300px;
  position: absolute;
  top: 0;
  left: 10%;
}

.crow-bg-bottom {
  background-image: url("./assets/silly-crow-down.png");
  background-size: contain;
  background-position: top;
  background-repeat: no-repeat;
  width: 300px;
  height: 300px;
  position: absolute;
  bottom: 0;
  right: 10%;
}

.gradient-for-dots-top {
  background: linear-gradient(90deg, #ffffff00 0%, #f8fafc 10%);
}

.gradient-for-dots-bottom {
  background: linear-gradient(90deg, #f8fafc 90%, #ffffff00 100%);
}

.bg-dotted-top {
  background-image: url("./assets/dots.png");
  background-size: contain;
  background-position: center;
  background-repeat: repeat-x;
  width: 100%;
  height: 34px;
  position: absolute;
  top: 13%;
  left: 0%;
}

.bg-dotted-bottom {
  background-image: url("./assets/dots.png");
  background-size: contain;
  background-position: center;
  background-repeat: repeat-x;
  width: 100%;
  height: 34px;
  position: absolute;
  bottom: 11%;
  right: 0%;
}

.outline-text {
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: black;
}

.star-mask {
  border: solid 5px rgb(255, 255, 255);
  border-radius: 50%;
}

.box-shadow2 {
  -webkit-box-shadow: 0px 0px 18px 10px rgba(255, 247, 0, 0.5);
  -moz-box-shadow: 0px 0px 18px 10px rgba(255, 247, 0, 0.5);
  box-shadow: 0px 0px 18px 10px rgba(255, 247, 0, 0.5);
}
